<div id="projectContent" class="content">
	<div *ngIf="this.loaded">
		<div class="project block">
			<h3>
				<div class="links">
					<div class="link" *ngIf="this.project['links']['github'] !== ''">
						<a target="_blank" href="{{ this.project['links']['github'] }}">
							<img class="iconImage" src="../../../assets/images/github.png" />
						</a>
					</div>
					<div class="link" *ngIf="this.project['links']['production'] !== ''">
						<a target="_blank" href="{{ this.project['links']['production'] }}">
							<img class="iconImage" src="../../../assets/icons/linkIcon.png" />
						</a>
					</div>
				</div>
			</h3>

			<div class="pin" *ngIf="this.project['pin']">
				<img src="../../../assets/icons/pinWhite.png" />
			</div>
			<h2 class="projectTitle">
				{{ this.project["title"] }}
			</h2>

			<p class="date">Last Updated: {{ this.project["date"] }}</p>
			<p class="typeofProject">{{ this.project["typeOfProject"] }}</p>

			<div class="description">
				<p>
					{{ this.project["description"] }}
				</p>
			</div>

			<div class="container">
				<div class="tags row">
					<li *ngFor="let tag of this.project['tags']">
						{{ tag }}
					</li>
				</div>
			</div>

			<div id="contentList">
				<div class="contentBlob" *ngFor="let cont of this.project['content']">
					{{cont.type}}
					<div *ngIf="cont.type == 'text'">
						{{cont.content}}
					</div>

					<div *ngIf="cont.type === 'youtube'">
						<iframe width="100%" height="100%"
							src="https://www.youtube.com/embed/LrC9IGf1Qm0?list=PLHJV6fEERjQZ7VUckzEGeytzzZc13x3oL"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="readme" *ngIf="readme">
				<a target="_blank" href="{{this.githubUrl}}">
					<h3>
						Project readme
					</h3>
				</a>
				<markdown [text]="this.readme">
				</markdown>
			</div>
		</div>
	</div>