<div
  id="experienceBlock"
  class="carousel slide"
  data-ride="carousel"
  data-interval="5000"
>
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#experienceBlock" data-slide-to="0" class="active"></li>
    <li data-target="#experienceBlock" data-slide-to="1"></li>
    <li data-target="#experienceBlock" data-slide-to="2"></li>
    <li data-target="#experienceBlock" data-slide-to="3"></li>
    <li data-target="#experienceBlock" data-slide-to="4"></li>
  </ul>

  <!-- The slideshow -->
  <div class="block">
	<h1 class="sectionTitle">Professional Experience</h1>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="companyImage">
          <img src="{{ experience[0].image }}" />
          <p class="credit">{{ experience[0].imageCredit }}</p>
        </div>
        <div class="innerContent">
          <h1 class="title">
            {{ experience[0].title }}
            <div class="experienceType">{{ experience[0].experience }}</div>
          </h1>
          <h3 class="place">
            {{ experience[0].place }}
            <div class="date">{{ experience[0].date }}</div>
          </h3>

          <div class="description">
            <p class="paragraph" *ngFor="let para of experience[0].description">
              {{ para }}
            </p>
          </div>

          <h3 class="skillsTitle">Skills Utilized</h3>
          <ul class="expSkillsList">
            <li *ngFor="let sk of experience[0].skills">{{ sk }} |</li>
          </ul>
        </div>
      </div>


	  <div class="carousel-item" *ngFor="let i of [1, 2, 3, 4]">
        <div class="companyImage">
          <img src="{{ experience[i].image }}" />
          <p class="credit">{{ experience[i].imageCredit }}</p>
        </div>
        <div class="innerContent">
          <h1 class="title">
            {{ experience[i].title }}
            <div class="experienceType">{{ experience[i].experience }}</div>
          </h1>
          <h3 class="place">
            {{ experience[i].place }}
            <div class="date">{{ experience[i].date }}</div>
          </h3>

          <div class="description">
            <p class="paragraph" *ngFor="let para of experience[i].description">
              {{ para }}
            </p>
          </div>

          <h3 class="skillsTitle">Skills Utilized</h3>
          <ul class="expSkillsList">
            <li *ngFor="let sk of experience[i].skills">{{ sk }} |</li>
          </ul>
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#experienceBlock"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#experienceBlock"
        data-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
